<div onclick = "location.href='/profile/categories/{{id}}';" class="tile is-parent is-3 is-vertical" >
    <div class="tile is-child box has-text-centered" id="catTiles">
        <a href="profile/categories/{{id}}">
        <header>{{category_name}}</header>
        
        </a>
    </div>
</div>

