<div class="comments">
    {{#each this}}
    <div class="title">
      
{{user.username}} on {{created_at}}
    </div>
    
<div class="section">
{{comment_text}}
{{!-- {{comments.comment_text}} --}}
</div>
    
    {{/each}}
</div>

