<div class="tile is-parent is-3 pb-0">
    {{!-- bulma tall tile code --}}
  
  <article class="tile is-child box notification sticky p-0 filter">
      <p class="subtitle has-text-centered is-size-3 has-text-weight-bold pt-6">Filter by Category</p>

      <div class="content">
        <!-- Content -->
    <ul class="has-text-left sticky">
      <li>
        <input type="checkbox" id="htmlcheckbox" />
        <label
          class="is-size-5 has-text-weight-bold"
          for="htmlcheckbox"
        >
          HTML
        </label>
      </li>
      <li>
        <input type="checkbox" id="csscheckbox" />

        <label
          for="csscheckbox"
          class="is-size-5 has-text-weight-bold"
        >
          CSS
        </label>
      </li>
      <li>
        <input type="checkbox" id="javascriptcheckbox" />
        <label
          for="javascriptcheckbox"
          class="is-size-5 has-text-weight-bold"
        >
          JavaScript
        </label>
      </li>
      <li>
        <input type="checkbox" id="mysqlcheckbox" />
        <label
          for="mysqlcheckbox"
          class="is-size-5 has-text-weight-bold"
        >
          MySQL
        </label>
      </li>
      <li>
        <input type="checkbox" id="expresscheckbox" />
        <label
          for="expresscheckbox"
          class="is-size-5 has-text-weight-bold"
        >
          Express
        </label>
      </li>
      <li>
        <input type="checkbox" id="nodecheckbox" />
        <label
          for="nodecheckbox"
          class="is-size-5 has-text-weight-bold"
        >
          Node
        </label>
      <li>
        <a id="filterbutton" class="button2">Search</a>
        {{!-- <button id="filterbutton" class="button m-3 is-responsive is-normal is-fullwidth">
          Search
        </button> --}}
      </li>
    </ul>
      </div>
  </article>
</div>
 <script src="/javascript/filter.js"></script>



