<div>
    <input type="checkbox" id="htmlcheckbox">
    <label for="htmlcheckbox">
        HTML
    </label>
    <input type="checkbox" id="javascriptcheckbox">
    <label for="javascriptcheckbox">
        JavaScript
    </label>
    <input type="checkbox" id="csscheckbox">
    <label for="csscheckbox">
        CSS
    </label>
    <input type="checkbox" id="mysqlcheckbox">
    <label for="mysqlcheckbox">
        MYSQL
    </label>
    <button id="filterbutton">
        Search!
    </button>
</div>