<div>
    <input type="checkbox" id="htmlcheckbox">
    <label class="is-size-6 is-uppercase has-text-weight-bold" for="htmlcheckbox">
        HTML
    </label>
    <input type="checkbox" id="javascriptcheckbox">
    <label for="javascriptcheckbox" class="is-size-6 is-uppercase has-text-weight-bold" >
        JavaScript
    </label>
    <input type="checkbox" id="csscheckbox">
    <label for="csscheckbox" class="is-size-6 is-uppercase has-text-weight-bold">
        CSS
    </label>
    <input type="checkbox" id="mysqlcheckbox">
    <label for="mysqlcheckbox"class="is-size-6 is-uppercase has-text-weight-bold">
        MYSQL
    </label>
        <input type="checkbox" id="expresscheckbox">
    <label for="expresscheckbox" class="is-size-6 is-uppercase has-text-weight-bold">
        Express
    </label>
            <input type="checkbox" id="nodecheckbox">
    <label for="nodecheckbox" class="is-size-6 is-uppercase has-text-weight-bold">
        Node
    </label>
    <button id="filterbutton" class="button mt-5 is-responsive">
        Search!
    </button>
</div>