<div class="tile is-parent is-3 pb-0">
    {{!-- bulma tall tile code --}}
  
  <article class="tile is-child box notification sticky p-0 filter">
    <p class="subtitle has-text-centered is-size-3 has-text-weight-bold pt-6">Filter by Category</p>

    <div class="content filter-flex-box">
        <!-- Content -->
      <ul class="has-text-left sticky">
        <li>
          <input type="checkbox" id="htmlcheckbox" />
          <label
            class="is-size-5 has-text-weight-bold pl-3"
            for="htmlcheckbox"
          >
            HTML
            <i class="fas fa-code p-1 fa-lg"></i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="csscheckbox" />

          <label
            for="csscheckbox"
            class="is-size-5 has-text-weight-bold pl-3"
          >
            CSS
            <i class="fas fa-palette p-1 fa-lg"></i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="javascriptcheckbox" />
          <label
            for="javascriptcheckbox"
            class="is-size-5 has-text-weight-bold pl-3"
          >
            JavaScript
            <i class="fab fa-js-square p-1 fa-lg"></i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="mysqlcheckbox" />
          <label
            for="mysqlcheckbox"
            class="is-size-5 has-text-weight-bold pl-3"
          >
            MySQL
            <i class="fas fa-database p-1 fa-lg"></i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="expresscheckbox" />
          <label
            for="expresscheckbox"
            class="is-size-5 has-text-weight-bold pl-3"
          >
            Express
            <i class="fas fa-shipping-fast p-1 fa-lg"></i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="nodecheckbox" />
          <label
            for="nodecheckbox"
            class="is-size-5 has-text-weight-bold is-lg pl-3"
          >
            Node
              <i class="fab fa-node fa-lg ml-1"></i>
          </label>
        </li>
      </ul>
    </div>
    <div class="filter-flex-box">
      <ul>
        <li>
          <a id="filterbutton" class="button2 bouncy" style="animation-delay:0.07s">Search</a>
          {{!-- <button id="filterbutton" class="button m-3 is-responsive is-normal is-fullwidth">
            Search
          </button> --}}
        </li>
      </ul>
    </div>
  </article>
</div>
 <script src="/javascript/filter.js"></script>



