
<div class="tile is-parent is-3 ">
    {{!-- bulma tall tile code --}}
  
  <article class="tile is-child box notification is-success sticky p-0">
      <p class="subtitle has-text-centered">Filter by Category!</p>
      <div class="content">
        <!-- Content -->
    <ul class="has-text-left sticky">
      <li>
        <label
          class="is-size-6 is-uppercase has-text-weight-bold"
          for="htmlcheckbox"
        >
          HTML
        </label>
        <input type="checkbox" id="htmlcheckbox" />
      </li>
      <li>
        <label
          for="javascriptcheckbox"
          class="is-size-6 has-text-weight-bold"
        >
          JavaScript
        </label>
        <input type="checkbox" id="javascriptcheckbox" />
      </li>
      <li>
        <label
          for="csscheckbox"
          class="is-size-6 is-uppercase has-text-weight-bold"
        >
          CSS
        </label>
        <input type="checkbox" id="csscheckbox" />
      </li>
      <li>
        <label
          for="mysqlcheckbox"
          class="is-size-6 has-text-weight-bold"
        >
          MySQL
        </label>
        <input type="checkbox" id="mysqlcheckbox" />
      </li>
      <li>
        <label
          for="expresscheckbox"
          class="is-size-6 is-uppercase has-text-weight-bold"
        >
          Express
        </label>
        <input type="checkbox" id="expresscheckbox" />
      </li>
      <li>
        <label
          for="nodecheckbox"
          class="is-size-6 is-uppercase has-text-weight-bold"
        >
          Node
        </label>
        <input type="checkbox" id="nodecheckbox" />
      <button id="filterbutton" class="button mt-5 is-responsive">
        Search!
      </button>
      </li>
    </ul>
      </div>
  </article>
</div>
  <script src="/javascript/filter.js"></script>