<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Planet Express.js</title>
  <link rel="icon" type="image/png" href="public/images/SeekPng.com_rocket-png_2460790.png"/>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="https://kit.fontawesome.com/2258c7fb5c.js" crossorigin="anonymous"></script>
  <script src=""></script>
  {{!--
  <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}

</head>

<body>
  <!-- Hero head: will stick at the top -->
  <section class ="hero is-medium">
  <div class="hero-head">
    <nav class="navbar" id="navBar">
      <div class="container is-transparent">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/images/planet-logo.png" alt="Logo" class="icon is-large">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar">
            {{#if loggedIn}}
            <button id="logout" class="navbar-item">Logout</button>
            <a href="/dashboard" class="navbar-item js-modal-trigger">Post an Article</a>
            <a href="/profile" class="navbar-item">Profile</a>
            {{else}}
            <a href="/login" class="navbar-item">Login/Sign up</a>
            <a class="navbar-item">Post an Article</a>
            {{/if}}

          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered ">
      <p class="title has-text-white">
        Planet Express.js
      </p>
      <p class="subtitle has-text-white">
        The resource library for all your coding needs!
      </p>
    </div>
  </div>
  </section>

{{!-- {{> filter }} --}}
  <main>
    {{{body}}}
  </main>
  {{#if loggedIn}}
  <script src="/javascript/modal-post.js"></script>
  <script src="/javascript/logout.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'></script>
  

  {{/if}}

  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Post An Article</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </footer>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/javascript/filter.js"></script>
  <script src="/javascript/icon.js"></script>
  <script>
    const globalCategoriesArray = [
  {"lang": "HTML",        "id": 1},
  {"lang": "CSS",         "id": 2},
  {"lang": "Javascript",  "id": 3},
  {"lang": "MySQL",       "id": 4},
  {"lang": "express",     "id": 5},
  {"lang": "node",        "id": 6}
]
  </script>
</body>

</html>