<section class="section pt-5 ">
    <div class="container">
        <div>
            <div>
          <a href="/profile" class="button is-light">Back</a>
            </div>

        <div class="has-text-centered">
            <span class="title has-text-light">{{category.category_name}}</span>
        </div>

        <br>
        <div class="tile is-ancestor ">
            <section class="tile is-8 is-flex-wrap-wrap">
                {{#each category as |article| }}
                {{>profile-article-info article }}
                {{/each}}
            </section>
            <div class="tile is-4">
                {{> post}}
            </div>
        </div>
    </div>
</section>