<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input" id="articleTitle">
  </div>
</div>

<div class="field">
  <label class="label">URL</label>
  <div class="control">
    <input class="input" type="text" placeholder="URL" id="articleUrl">
  </div>
</div>

<div class="field">
  <label class="label">Category</label>
  <div class="control">
    <div class="select">
      <select id="catNo">
        <option class="catNo" data-cat='1'>HTML</option>
        <option class="catNo" data-cat='2'>css</option>
        <option class="catNo" data-cat='3'>JavaScript</option>
        <option class="catNo" data-cat='4'>MYSQL</option>
        <option class="catNo" data-cat='5'>Express</option>
        <option class="catNo" data-cat='6'>Node</option>
      </select>
    </div>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" id="articleBtn">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
</div>
<script src="/javascript/post.js"></script>