<aside>
    <h2>Please Sign in!</h2>
</aside>
<form>
    <h3>email: </h3>
    <input type="text" id="emailLog" name="email" autocomplete="email">
    <h3>Password: </h3>
    <input id="passwordLog" name="password" type="password" autocomplete="current-password">
    <button id="loginBtn" class="">Login</button>
</form>

<h2>Sign Up Here:</h2>
<form class="signUpForm">
  <div>
    <label for="userSU">username:</label>
    <input type="text" id="userSU" autocomplete="username"/>
  </div>
  <div>
    <label for="emailSU">email:</label>
    <input type="text" id="emailSU" autocomplete="email"/>
  </div>
  <div>
    <label for="passSU">password:</label>
    <input type="password" id="passSU" autocomplete="new-password" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>


<script src="/javascript/login.js"></script>