<aside>
    <h2>Please Sign in!</h2>
</aside>
<form>
    <h3>email: </h3>
    <input type="text" id="emailLog" name="username">
    <h3>Password: </h3>
    <input type="text" id="passwordLog" name="password">
    <button id="loginBtn" class="">Login</button>
</form>

<div class="gallery">

</div>
<script src="/javascript/login.js"></script>