<div class="tile is-ancestor">

  <div class="tile is-parent is-8">
    <div class="tile is-child box">
          {{> filter }}
    <article class="tile is-ancestor m-2 p-2 is-flex-wrap-wrap" id="article_section">
  {{#each articles as |article|}}
  {{> article-info article}}
{{/each}}
    </article>
    </div>
  </div>
<div class="tile is-parent">
    <form class="tile is-child box formPost">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input" id="articleTitle">
      </div>
    </div>

    <div class="field">
      <label class="label">URL</label>
      <div class="control">
        <input class="input" type="text" placeholder="Format: https://www.article.com" id="articleUrl">
      </div>
    </div>

    <div class="field">
      <label class="label">Category</label>
      <div class="control">
        <div class="select">
          <select name="category" id="catNo">
            <option data='1'>HTML</option>
            <option data='2'>css</option>
            <option data='3'>JavaScript</option>
            <option data='4'>MYSQL</option>
            <option data='5'>Express</option>
            <option data='6'>Node</option>
          </select>
        </div>
      </div>
    </div>
    <p class="invalidPost is-invisible has-text-warning">Invalid Post, make sure that the url is in
      'http://www.website.com' format</p>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" id="articleBtn">Submit</button>
      </div>
    </div>
    <p class="is-invisible has-text-success articleSuccess">Sucessfully Posted!</p>
  </form>
</div>



  <script src="/javascript/post.js"></script>
