
<section class="section pt-5">
  <div class="container">
    <div class="has-text-centered">
      <span class="title has-text-light">
        {{username}}'s Profile
      </span>
      <p>click a category to see your resources</p>
      <br>
      <br>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-8 is-flex-wrap-wrap ">

        {{#each categories as |category|}}
        {{> category-tiles}}
        {{/each}}

      </div>
      <div class="tile is-4">
        {{> post}}
      </div>
    </div>
  </div>

</section>
